[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twitchio = "*"
python-dotenv = "*"
discord = "*"
nest-asyncio = "*"
paramiko = "*"

[requires]
python_version = "3.6"
